.question-list{
    list-style-type: none;
    margin-left: 0px;
    padding: 5px;
    text-align: left;
}

.q-button:hover {
    line-height: 100%;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    white-space: normal;
    text-align: left;
    color: #439EBB;
    text-decoration: none;
    background-color: #F7ECC8;
    border-radius: 0%;
    /* font-weight: 700; */
    font-family: Inconsolata;
}

.q-button {
    text-decoration: none;
    border: none;
    background: none;
    line-height: 100%;
    padding: 0px;
    margin: 0px;
    color: #439EBB; /*#F1C54E;*/
    text-decoration: none;
    white-space: normal;
    text-align: left;
    font-family: Inconsolata;
    font-size: inherit;
}

.blinking {
    visibility: hidden;
}

.q-button:hover>.blinking {
    font-weight: 700;
    visibility: visible;
    animation: blinking-text 1s infinite;
}

@keyframes blinking-text {
    0% {
        color: white;
    }

    50% {
        color: transparent;
    }

    80% {
        color: transparent;
    }

    100% {
        color: white;
    }
}

.dialog-span{
    word-break: break-word;
    white-space: p;
    display: inline;
    font-family: Inconsolata;
}

.dialog-box {
    padding-bottom: 20px;
    color: #FFFFFF;
    min-height: 70px;
}


.tab-bar-links{
    list-style: none;
    display: flex;
    height: 2em;
    /* align-items: left; */
}

.tab-bar-links{
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}

.tab-bar-link {
    text-decoration: none;
    color: #a0a0a0;
    font-family: Inconsolata;
    /* font-size: 18px; */
    padding-right: 20px;
    border: none;
    background: none;
    line-height: 100%;
    white-space: normal;
    font-size: inherit;
}

.tab-bar-link:hover{
    color: #fafafa;
}

button.tab-active{
    color: #fafafa;
    text-decoration-line: underline ;
}

.key {
    color: #83c7b4;
    font-weight: 500;
}

.summary-li{
    color: #F7ECC8;
    list-style: none;
}

.email{
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
}

.about-link{
    text-decoration: none;
    color: #E85858;
}

.question-box {
    /* width: 540px;
    height: 250px; */
    /* font-family: Inconsolata; */
    text-align: left;
}

.static-text{
    color: #83C7B4
}