* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #eff0f1;
  font-family: Inconsolata;
}

.wrapper-home {
  display: grid;
  grid-template-columns: 1fr minmax(100px, 720px) 1fr;
  grid-template-rows: 10vh minmax(100px, 78vh) 10vh;
  grid-template-areas:
      ".  header ."
      "main  main   main"
      ".  footer .";
}

/* same, except for the sub-grids in main */
.wrapper-resume, .wrapper-adventures {
  display: grid;
  grid-template-columns: 1fr minmax(100px, 720px) 1fr;
  grid-template-rows: 10vh 1fr 10vh;
  grid-template-areas:
      ".  header ."
      ".  main   ."
      ".  footer .";
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 520px) 1fr;
  grid-template-areas: ". nav .";
}

.nav {
  grid-area: nav;
  height: 100%;
}

.main, .main-resume, .main-adventures {
  grid-area: main;
  width: 100%;
}

.footer {
  grid-area: footer;
}

.nav-links,
.footer-links {
  list-style: none;
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-links {
  justify-content: space-around;
  flex-wrap: nowrap;
}

.footer-links {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-link,
.footer-link {
  text-decoration: none;
  color: #868e96;
  font-family: Inconsolata;
  font-size: 18px;
}

.nav-link:hover,
.footer-link:hover{
  color: #292b2c;
}

a.active{
  color: #292b2c;
  text-decoration-line: underline ;
}

a.disabled {
  color: #868e96;
  opacity: 0.8;
  pointer-events: none;
  cursor: default;
  text-decoration: line-through;
}

.main {
  display: grid;
  grid-template-rows: minmax(100px, 300px) minmax(min-content, 40vh);
  grid-template-areas:        
  "game"
  "terminal-section";
  justify-items: center;
  align-items: center;
}


.game {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  grid-area: game;
}

.game>img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.terminal-section {
  background-color: #232323;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 450px) 1fr;
  grid-template-areas: ". terminal-content .";
  height: 100%;
  width: 100%;
}

.terminal-content{
  grid-area: terminal-content;
  border-radius: 4px;
  padding: 10px;
  width: 90%;
  height: 90%;
}